<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMWRF</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>

    <script src="../static/js/Billerica-Division-Lab-Sheet.js"></script>

</head>
<body>
<div class="row pt-3" id="main_Div">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row" id="title_Div">

            <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                <h3 class="display-4">Billerica Wastewater Division Lab Sheet</h3>
            </div>

        </div>

        <div id="user_Input_Div" class="row mt-3 border border-dark  ">
            <!--Date, Day, Operator,  Temp, Barometer, Chlorine Residuals -->
            <div class="row mt-1 d-flex justify-content-center" id="row-1">
                <!--Date -->
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                        </div>
                        <input type="date" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <!--Day of Week -->
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Day</span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Operator -->
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Operator</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <!--Temperature -->
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Temp (<span>&#8457;</span>) </span>
                        </div>
                        <input type="number" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <!--Barometer -->
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Barometer</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>


                </div>

            </div>

            <!--Influent, Final Effluent, Reaction Tanks... -->
            <div class="row mt-1" id="row-2">
                <!--Influent-->
                <div class="col-2">
                    <div id="Influent-Block"></div>
                </div>
                <!--Final Effluent-->
                <div class="col-2">

                    <div id="Final-Effluent-Block"></div>

                </div>
                <!--Reaction Tank-->
                <div class="col-2">
                    <div id="Reaction-Tank-Block"></div>
                </div>
                <!--COMP. pH/ALK-->
                <div class="col-3">
                    <div id="Composite-PH-and-ALK-Block"></div>
                </div>
                <!--WAS Q-->
                <div class="col-3">
                    <div id="Waste-Activated-Sludge-Q-Block"></div>
                </div>
            </div>

            <!--Plant Chemicals and Chlorine Residual -->
            <div class="row" id="row-3">
                <div class="col-1"></div>
                <!--Plant Chemicals... -->
                <div class="col-4">
                    <div id="Plant-Chemical-Block"></div>
                </div>

                <div class="col-2"></div>

                <!--Chlorine Residuals -->
                <div class="col-4">
                    <div id="Chlorine-Residual-Block"></div>
                </div>
                <div class="col-1"></div>
            </div>



            <!--Depth's of Blankets -->
            <div class="row mb-4" id="row-3">
                <div class="col-1"></div>
                <!--Primary... -->
                <div class="col-3">
                    <div id="Primary-Blanket-Block"></div>
                </div>



                <!--Secondary -->
                <div class="col-3">
                    <div id="Secondary-Blanket-Block"></div>
                </div>

                <!--Tertiary -->
                <div class="col-3">
                    <div id="Tertiary-Blanket-Block"></div>
                </div>

                <div class="col-1"></div>
            </div>



        </div>


    </div>
    <div class="col-1"></div>

    <script type="text/javascript">

        const influent_labels = ["Time", "Temp", "PH", "D.O.", "Comp P.H.", "ALK", "S.S. (mL/L)"];

        const chlorine_labels = ["Q Effluent Chemical Control", "Hydro Pump Online A or H", "Hypo Tank Level", "Residual Shed 1",
            "Residual Shed 2", "Residual Shed 3", "Bisulfite Pump Online A or H", "Bisulfite Tank Level", "P.H.",
            "High Chlorine Residual mg/L", "Final Eff. Chlorine ug/L"];

        const sub_title = ["Today", "Yesterday", "Used"];

        const reaction_tank_labels = ["Sec p.H. Grab", "Sec. Meter", "RT #1 p.H", "Tuba (Meter)", "RT #4 p.H."];

        const composite_pH_alk_labels = ["Primary p.H.", "Primary Alk", "Sec p.H.", "Sec Alk"];

        const primary_blanket_labels = ["PST1", "PST2", "PST3"];

        const secondary_blanket_labels = ["SST1", "SST2", "SST3", "SST4"];

        const tertiary_blanket_labels = ["TF1", "TF2"];

        const gravity_thickener_labels = ["GT1", "GT2"];

        const was_flow_labels = ["Set Point", "Actual"];


        create_Table("Chlorine-Residual-Block", "Chlorine Residual", false, chlorine_labels);
        create_Table("Influent-Block", "Influent", false, influent_labels);
        create_Table("Final-Effluent-Block", "Final Effluent", false, influent_labels);
        create_Table("Plant-Chemical-Block", "Plant Chemicals", sub_title, influent_labels);
        create_Table("Reaction-Tank-Block", "Reaction Tanks", false, reaction_tank_labels);
        create_Table("Composite-PH-and-ALK-Block", "Comp. PH/ALK", false, composite_pH_alk_labels);
        create_Table("Waste-Activated-Sludge-Q-Block", "WAS Q", false, was_flow_labels);
        create_Table("Primary-Blanket-Block", "Primary DOB's", false, primary_blanket_labels);
        create_Table("Secondary-Blanket-Block", "Secondary DOB's", false, secondary_blanket_labels);
        create_Table("Tertiary-Blanket-Block", "Tertiary DOB's", false, tertiary_blanket_labels);


    </script>
</div>


</body>
</html>