<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="row">
    <!--Chlorine Residuals -->
    <div class="row">
        <div class="col">
            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-center">

                <h4>Chlorine Residuals</h4>
            </div>
        </div>
    </div>

    <!--Time/Operator-->
    <div class="row">
        <!--Operator-->
        <div class="col">
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Operator</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <!--Time-->
        <div class="col">
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Time</span>
                </div>
                <input type="time" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </div>

    <!--Q Effluent Chemical Control -->
    <div class="row">
        <!--Operator-->
        <div class="col">
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Q Effluent Chemical Control</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </div>


</div>

</body>
</html>