{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}





    <div class=" bg-info text-white rounded">
        <h3 class="display-5 text-center">What would you like to do?</h3>
    </div>


    <form class="mt-5" action="{{ url_for('main_Menu') }}" enctype=multipart/form-data method="POST">

        <!--Lab Sheets-->
        <div class="row text-end bg-info p-3 rounded">
            <div class="col">
                <h4>Laboratory</h4>
            </div>

            <div class="col">
                <button class="btn btn-dark" type="submit" name="submit_button"
                        value="Main Lab Sheet">
                    Update Lab Data
                </button>
            </div>

            <!--Check Permit Compliance-->
            <div class="col">
                <button class="btn btn-dark" type="submit" name="submit_button"
                        value="Check Permit Compliance">
                    Check Permit Compliance
                </button>
            </div>
        </div>

        <!--Time Clock-->
        <div class="row mt-3 bg-danger p-3">
            <div class="col">
                <h4>Managerial</h4>
            </div>
            <div class="col">
                <button class="btn btn-dark" type="submit" name="submit_button" value="Access Time Clock">
                    Access Time Clock
                </button>
            </div>
        </div>

        <!--Take Practice Test-->
        <div class="row mt-3 bg-warning p-3">
            <div class="col">
                <h4>Education & Resources</h4>
            </div>

            <div class="col">
                <button class="btn btn-dark" type="submit" name="submit_button" value="Take Practice Test">
                    Take Practice Test
                </button>
            </div>


        </div>

        <!--Check Weekly Tasks-->
        <div class="row mt-3 mb-3 bg-secondary p-3">
            <div class="col">
                <h4>Operator Tasks</h4>
            </div>
            <div class="col">
                <button class="btn btn-dark" type="submit" name="submit_button" value="Check Weekly Tasks">
                    Check Weekly Tasks
                </button>
            </div>


        </div>


    </form>


    </div>


{% endblock %}

