<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BWRRF</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/Billerica-Division-Lab-Sheet.js"></script>


</head>
<body>
<div class="row pt-3" id="main_Div">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row" id="title_Div">
            <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                <h3 class="display-4">Billerica Wastewater Division Lab Sheet</h3>
            </div>
        </div>

        <div class="row" id="user_input_Div">
            <form action="{{ url_for('main_Menu') }}" enctype=multipart/form-data method="POST">

                <!--Tabs For Selecting Roll-->
                <ul class="nav nav-tabs justify-content-center"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="lab-data-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#lab"
                                type="button"
                                role="tab"
                                aria-controls="home"
                                aria-selected="true">
                            Lab Data
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="yard-data-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#yard"
                                type="button"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false">Yard Data
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="press-data-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#press"
                                type="button"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false">Press Data
                        </button>
                    </li>
                </ul>

                <!--Buttons to persist through tabs.-->
                <div class="row d-grid justify-content-center">
                    <div class="buttons_div">
                        <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Save Data">
                            Save Data
                        </button>

                    </div>
                </div>

                <!--Area for Showing Tab-->
                <div class="tab-content" id="myTabContent">

                    <!--Lab Data -->
                    <div class="tab-pane fade show active grid justify-content-center"
                         id="lab"
                         role="tabpanel"
                         aria-labelledby="lab-data-tab">

                        <!--Tabs For Selecting Reports-->
                        <ul class="nav nav-tabs justify-content-center"
                            id="worksheets_tab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="lab-sheet-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#lab_sheet"
                                        type="button"
                                        role="tab"
                                        aria-controls="home"
                                        aria-selected="true">Lab Sheet
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="tss-sheet-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#tss_sheet"
                                        type="button"
                                        role="tab"
                                        aria-controls="profile"
                                        aria-selected="false">TSS Sheet
                                </button>
                            </li>
                        </ul>

                        <!--Area for Showing report-->
                        <div class="tab-content" id="worksheets_tab_Content">

                            <!--Main Lab Sheet-->
                            <div class="tab-pane fade show active grid justify-content-center"
                                 id="lab_sheet"
                                 role="tabpanel"
                                 aria-labelledby="lab-sheet-tab">

                                <div class="row mt-3 pb-1" id="row-1">
                                    <!--Date -->
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                                            </div>
                                            <input type="date" class="form-control" aria-label="Small"
                                                   aria-describedby="inputGroup-sizing-sm" name="Date">
                                        </div>
                                    </div>

                                    <!--Day of Week -->
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Day</span>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="sel1" name="Day of Week">
                                                    <option>Monday</option>
                                                    <option>Tuesday</option>
                                                    <option>Wednesday</option>
                                                    <option>Thursday</option>
                                                    <option>Friday</option>
                                                    <option>Saturday</option>
                                                    <option>Sunday</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Operator -->
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Operator</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small"
                                                   aria-describedby="inputGroup-sizing-sm" name="Operator">
                                        </div>
                                    </div>

                                    <!--Temperature -->
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              id="inputGroup-sizing-sm">Temp (<span>&#8457;</span>) </span>
                                            </div>
                                            <input type="number" class="form-control" aria-label="Small"
                                                   aria-describedby="inputGroup-sizing-sm" name="Temperature">
                                        </div>
                                    </div>
                                    <!--Barometer -->
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                      id="inputGroup-sizing-sm">Barometer</span>
                                            </div>
                                            <input type="number" class="form-control" aria-label="Small"
                                                   aria-describedby="inputGroup-sizing-sm" name="Barometer">
                                        </div>
                                    </div>
                                </div>
                                <div class="row  pb-1" id="row-2">
                                    <!--Influent-->
                                    <div class="col">
                                        <div id="Influent-Block"></div>
                                    </div>
                                    <!--Final Effluent-->
                                    <div class="col">
                                        <div id="Final-Effluent-Block"></div>
                                    </div>
                                    <!--Comp.pH's/ALK-->
                                    <div class="col">
                                        <div id="Composite-PH-and-ALK-Block"></div>
                                        <div id="Baker-PH-Block"></div>
                                    </div>
                                </div>
                                <div class="row pb-1" id="row-3">
                                    <div class="col">
                                        <div id="D-Box-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="RAS-Pumps-Block"></div>
                                        <div id="Aluminum-Block"></div>
                                    </div>
                                </div>
                                <div class="row pb-1" id="row-4">
                                    <div class="col">
                                        <div id="Chlorine-Residual-Block"></div>

                                    </div>
                                    <div class="col">
                                        <div id="Total-Q-Block"></div>
                                        <div id="Total-P-Block"></div>
                                        <div id="Ammonia-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="BOD-Block"></div>
                                        <div id="COD-Block"></div>
                                        <div id="Ecoli-Block"></div>
                                    </div>
                                </div>
                                <div class="row pb-1" id="row-5">
                                    <div class="col">
                                        <div id="Plant-Chemicals-Today-Block" class="plant_chemical_tanks"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Plant-Chemicals-Yesterday-Block" class="plant_chemical_tanks"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Plant-Chemicals-Used-Block"></div>
                                    </div>
                                </div>
                                <div class="row pb-1" id="row-6">
                                    <div class="col">
                                        <div id="Comag-Chemicals-Today-Block" class="plant_chemical_tanks"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Comag-Chemicals-Yesterday-Block" class="plant_chemical_tanks"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Comag-Chemicals-Used-Block"></div>
                                    </div>
                                </div>
                            </div>

                            <!--TSS Sheet-->
                            <div class="tab-pane fade"
                                 id="tss_sheet"
                                 role="tabpanel"
                                 aria-labelledby="tss-sheet-tab">


                                <div class="row  pb-1" id="row-2">
                                    <!--Influent TSS-->
                                    <div class="col">
                                        <div id="Influent-TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Primary-TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="DBox-TSS-Block"></div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div id="RAS-TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Sec-Effluent-TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="Final-Effluent-TSS-Block"></div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div id="Baker-TSS-Block"></div>
                                    </div>
                                    <div class="col">
                                        <div id="H20-TSS-Block"></div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>

                    <!--Yard Data -->
                    <div class="tab-pane fade"
                         id="yard"
                         role="tabpanel"
                         aria-labelledby="yard-data-tab">
                        <!--Press 1 -->
                        <div class="row mt-1">

                            <!--Primary Blanket -->
                            <div class="col">
                                <div id="Primary-Blanket-Block"></div>
                            </div>
                            <!--Secondary Blanket -->
                            <div class="col">
                                <div id="Secondary-Blanket-Block"></div>
                            </div>
                            <!--Tertiary Blanket -->
                            <div class="col">
                                <div id="Tertiary-Blanket-Block"></div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col">
                                <div id="Reaction-Tank-Block"></div>
                            </div>
                            <div class="col">
                                <div id="Turbidity-Block"></div>
                            </div>
                        </div>

                    </div>

                    <!--Press Data -->
                    <div class="tab-pane fade" id="press" role="tabpanel" aria-labelledby="press-data-tab">
                        <div class="row">
                            <!--Press 1 & 2-->
                            <div class="row">
                                <div class="col-6">

                                    <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                                        <h6>Press 1</h6>

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block"></div>
                                        </div>
                                        <div class="col">
                                            <div id="Feed-Block-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">

                                        <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                                            <h6>Press 2</h6>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block-3"></div>
                                        </div>
                                        <div class="col">
                                            <div id="Feed-Block-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Filtrate & Blanket Depths-->
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <div id="Filtrate-Block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">

                                    <div class="row">
                                        <div class="col">
                                            <div id="GT-DOB-Block"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>

            </form>
        </div>


    </div>
    <div class="col-1"></div>
</div>


<script type="text/javascript">
    setUpHTML()

    let elementsArray = document.querySelectorAll(".plant_chemical_tanks");

    elementsArray.forEach(function (elem) {

        elem.addEventListener("input", function () {

            let today_caustic = document.getElementById("Today 7,500 Caustic").value;
            let yesterday_caustic = document.getElementById("Yesterday 7,500 Caustic").value;
            let today_hypo = document.getElementById("Today 6,000 Hypo").value;
            let yesterday_hypo = document.getElementById("Yesterday 6,000 Hypo").value;
            let today_bisulfite = document.getElementById("Today 5,000 Bisulfite").value;
            let yesterday_bisulfite = document.getElementById("Yesterday 5,000 Bisulfite").value;
            let today_sodium_alum = document.getElementById("Today 5,000 Sodium Alum").value;
            let yesterday_sodium_alum = document.getElementById("Yesterday 5,000 Sodium Alum").value;
            let today_press_polymer = document.getElementById("Today Press Polymer").value;
            let yesterday_press_polymer = document.getElementById("Yesterday Press Polymer").value;


            document.getElementById("Used 7,500 Caustic").value = today_caustic - yesterday_caustic;
            document.getElementById("Used 6,000 Hypo").value = today_hypo - yesterday_hypo;
            document.getElementById("Used 5,000 Bisulfite").value = today_bisulfite - yesterday_bisulfite;
            document.getElementById("Used 5,000 Sodium Alum").value = today_sodium_alum - yesterday_sodium_alum;
            document.getElementById("Used Press Polymer").value = today_press_polymer - yesterday_press_polymer;


        })
    })


</script>


</body>
</html>