<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BWRRF</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Main-Menu.css">

    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/Billerica-Division-Lab-Sheet.js"></script>
</head>
<body>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">

        <div class="row" id="title_Div">
            <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                <h3 class="display-4">Billerica Wastewater Software</h3>
            </div>
        </div>

        <div class="row pt-3" id="Subtitle Div">

            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-center">
                <h3 class="display-5">What would you like to do?</h3>
            </div>


        </div>

        <div class="row pt-3 main-content-div" id="Main Content Div">
            <form action="{{ url_for('main_Menu') }}" enctype=multipart/form-data method="POST">
                <!--Lab Sheets-->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Main Lab Sheet">
                            Update Lab Data
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit" name="submit_button" value="View Data">
                            View Lab Data
                        </button>
                    </div>
                </div>

                <!--Time Clock-->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-dark mr-2" type="submit" name="submit_button" value="Access Time Clock">
                            Access Time Clock
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit" name="submit_button"
                                value="View Time Clock Data">
                            View Time Clock Data
                        </button>
                    </div>

                </div>

                <!--Take Practice Test-->
                <div class="row">
                    <div class="col-lg">
                        <button class="btn btn-dark" type="submit" name="submit_button" value="Take Practice Test">
                            Take Practice Test
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit" name="submit_button"
                                value="Update Practice Test">
                            Update Practice Test
                        </button>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg">
                        <button class="btn btn-dark " type="submit" name="submit_button" value="Check Permit Compliance">
                            Check Permit Compliance
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit" name="submit_button"
                                value="Edit Compliance Parameters">
                            Edit Compliance Parameters
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg">
                        <button class="btn btn-dark" type="submit" name="submit_button" value="Check Weekly Tasks">
                            Check Weekly Tasks
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit" name="submit_button"
                                value="Check Annual Tasks">
                            Check Annual Tasks
                        </button>
                    </div>

                </div>



            </form>


        </div>


        <div class="col-1"></div>
    </div>


</body>
</html>