<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BWRRF</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/Billerica-Division-Lab-Sheet.js"></script>


</head>
<body>
<div class="row pt-3" id="main_Div">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row" id="title_Div">
            <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                <h3 class="display-4">Billerica Wastewater Division Lab Sheet</h3>
            </div>
        </div>

        <div class="row" id="user_input_Div">

            <!--Tabs For Selecting Roll-->
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="lab-data-tab" data-bs-toggle="tab" data-bs-target="#lab"
                            type="button"
                            role="tab" aria-controls="home" aria-selected="true">Lab Data
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="yard-data-tab" data-bs-toggle="tab" data-bs-target="#yard"
                            type="button"
                            role="tab" aria-controls="profile" aria-selected="false">Yard Data
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="press-data-tab" data-bs-toggle="tab" data-bs-target="#press"
                            type="button"
                            role="tab" aria-controls="profile" aria-selected="false">Press Data
                    </button>
                </li>
            </ul>

            <!--Area for Showing Tab-->
            <div class="tab-content" id="myTabContent">
                <!--Lab Data -->
                <div class="tab-pane fade show active grid justify-content-center" id="lab" role="tabpanel"
                     aria-labelledby="lab-data-tab">
                    <h1 class="display-5">Lab Data</h1>
                    <div class="row">
                        <!--Influent-->
                        <div class="col">
                            <div id="Influent-Block"></div>
                        </div>
                        <!--Final Effluent-->
                        <div class="col">
                            <div id="Final-Effluent-Block"></div>
                        </div>
                    </div>
                </div>

                <!--Yard Data -->
                <div class="tab-pane fade" id="yard" role="tabpanel" aria-labelledby="yard-data-tab">
                    <h1>Hello World</h1>
                </div>

                <!--Press Data -->
                <div class="tab-pane fade" id="press" role="tabpanel" aria-labelledby="press-data-tab">
                    <!--Press 1 -->
                    <div id="movable_press_1_div">
                        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                        <div id="movable_div_header">Press #1</div>
                        <div class="movable_div_body"><!--Press 1-->
                            <div class="row">
                                <!--Feed-->
                                <div class="col">
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--Cake-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Press 2 -->
                    <div id="movable_press_2_div">
                        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                        <div id="movable_div_header">Press #2</div>
                        <div class="movable_div_body"><!--Press 1-->
                            <div class="row">
                                <!--Feed-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block-3"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--Cake-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div id="Feed-Block-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Filtrate-->
                    <div id="movable_filtrate_div">
                        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                        <div id="movable_div_header">Filtrate</div>
                        <div class="movable_div_body"><!--Press 1-->
                            <div class="row">
                                <!--Filtrate-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div id="Filtrate-Block"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Gravity Thickener Debth of Blankets-->
                    <div id="movable_gravity_blanket_div">
                        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
                        <div id="movable_div_header">GT DOB's</div>
                        <div class="movable_div_body"><!--Press 1-->
                            <div class="row">
                                <!--Filtrate-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div id="GT-DOB-Block"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


        </div>

    </div>
    <div class="col-1"></div>
</div>


<script type="text/javascript">
    dragElement(document.getElementById("movable_press_1_div"));
    dragElement(document.getElementById("movable_press_2_div"));
    dragElement(document.getElementById("movable_filtrate_div"));
    dragElement(document.getElementById("movable_gravity_blanket_div"));


    const influent_labels = ["Time", "Temp", "PH", "D.O.", "Comp P.H.", "ALK", "S.S. (mL/L)"];

    const chlorine_labels = ["Q Effluent Chemical Control", "Hydro Pump Online A or H", "Hypo Tank Level", "Residual Shed 1",
        "Residual Shed 2", "Residual Shed 3", "Bisulfite Pump Online A or H", "Bisulfite Tank Level", "P.H.",
        "High Chlorine Residual mg/L", "Final Eff. Chlorine ug/L"];

    const sub_title = ["Today", "Yesterday", "Used"];

    const reaction_tank_labels = ["Sec p.H. Grab", "Sec. Meter", "RT #1 p.H", "Tuba (Meter)", "RT #4 p.H."];

    const composite_pH_alk_labels = ["Primary p.H.", "Primary Alk", "Sec p.H.", "Sec Alk"];

    const primary_blanket_labels = ["PST1", "PST2", "PST3"];

    const secondary_blanket_labels = ["SST1", "SST2", "SST3", "SST4"];

    const tertiary_blanket_labels = ["TF1", "TF2"];

    const gravity_thickener_labels = ["GT1", "GT2"];

    const was_flow_labels = ["Set Point", "Actual"];

    feed_labels = ["Sample Weight", "Tare", "Difference", "Sample Dry", "Tare", "Difference",
        "% Solids"];


    create_Table("Feed-Block", "Feed (Tray 1)", false, feed_labels);
    create_Table("Feed-Block-2", "Cake (Tray 2)", false, feed_labels);
    create_Table("Feed-Block-3", "Feed (Tray 3)", false, feed_labels);
    create_Table("Feed-Block-4", "Cake (Tray 4)", false, feed_labels);
    create_Table("Filtrate-Block", "Filtrate", false, feed_labels);
    create_Table("GT-DOB-Block", "GT DOB's", false, feed_labels);


    //create_Table("Chlorine-Residual-Block", "Chlorine Residual", false, chlorine_labels);
    create_Table("Influent-Block", "Influent", false, influent_labels);
    create_Table("Final-Effluent-Block", "Final Effluent", false, influent_labels);
    //create_Table("Plant-Chemical-Block", "Plant Chemicals", sub_title, influent_labels);
    //create_Table("Reaction-Tank-Block", "Reaction Tanks", false, reaction_tank_labels);
    //create_Table("Composite-PH-and-ALK-Block", "Comp. PH/ALK", false, composite_pH_alk_labels);
    //create_Table("Waste-Activated-Sludge-Q-Block", "WAS Q", false, was_flow_labels);
    //create_Table("Primary-Blanket-Block", "Primary DOB's", false, primary_blanket_labels);
    //create_Table("Secondary-Blanket-Block", "Secondary DOB's", false, secondary_blanket_labels);
    //create_Table("Tertiary-Blanket-Block", "Tertiary DOB's", false, tertiary_blanket_labels);


</script>


</body>
</html>