<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BWRRF Quiz</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/Practice%20Quiz.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/Billerica-Division-Lab-Sheet.js"></script>


</head>
<body>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row" id="title_Div">
            <div class="p-3 mb-2 bg-success text-white d-flex justify-content-center">
                <h3 class="display-3">Practice Quiz</h3>
            </div>
        </div>


        <div class="row d-flex justify-content-center mb-3 mt-2" id="navigation_Div">
            <div class="col-2">
                <button type="button" class="btn btn-secondary" onclick="previous_Question()">Previous</button>
                1/175
                <button type="button" class="btn btn-success" onclick="next_Question()">Next</button>
            </div>
        </div>


        <div class="row question_Div">

            {% for question_number, value_dict in questions.items() %}

                <div class="row individual_question" id="{{ question_number }}" style="display: none">
                    {{ question_number }}
                    {% for key, list_of_information in value_dict.items() %}
                        <div class="row question_information" id="{{ question_number }}">
                            {% if key == "Answer" %}
                                <div class="row answer_div" style="display: none">{{ value_dict[key] }}</div>
                            {% else %}
                                <h3>{{ key }}</h3>
                                {% for possible_answer in list_of_information %}

                                    <li>
                                        <button value="{{ possible_answer }}" onclick="log_possible_answer(this)">?</button>
                                        {{ possible_answer }}
                                    </li>
                                {% endfor %}
                            {% endif %}

                            {{ question_text }}
                            <br>
                            {% for possible_answers in answer_text %}
                                {{ question_text }}

                            {% endfor %}
                        </div>




                    {% endfor %}

                </div>
            {% endfor %}


        </div>

    </div>


</div>
<div class="col-1"></div>


<script>

    function log_possible_answer(button_clicked) {

        let button_value = button_clicked.value;
        let question_number = button_clicked.parentElement.parentNode["id"];
        console.log(button_value);
        console.log(question_number);

        for (let [key, value] of Object.entries({{ questions | tojson}})){
            if(key === question_number){
                if(value["Answer"][0] === button_value){
                    alert("Correct! \n "+ value["Answer"][1])
                    next_Question(question_number)
                }else{
                    alert(button_value + " was not a correct answer.")
                }
            }
        }


    }


    function next_Question(current_question){
        const first_question = document.getElementById(current_question).style.display = "none";
        console.log(current_question)
        let next_question_number = parseInt(current_question.charAt(current_question.length - 1)) +1
        console.log(next_question_number)
        document.getElementById("Question number: " + next_question_number.toString()).style.display = "block"
    }

    function previous_Question(current_question){
        const first_question = document.getElementById(current_question).style.display = "none";
        console.log(current_question)
        let next_question_number = parseInt(current_question.charAt(current_question.length - 1)) -1
        console.log(next_question_number)
        document.getElementById("Question number: " + next_question_number.toString()).style.display = "block"
    }

    function setup_HTML(){
        const first_question = document.getElementById("Question number: 1");

        first_question.style.display = "block";
    }

    setup_HTML()

</script>
</div>

</body>
</html>